<p>Здравствуйте {{name}},</p>
<p>Нажмите на ссылку ниже, чтобы подтвердить регистрацию</p>
<p>
   <a href='{{url}}'>Подтвердить регистрацию</a>
</p>

<p>Если вы не регистрировались на нашем сервисе, просто проигнорируйте это
   письмо</p>